@import 'tailwindcss';

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    @apply bg-gray-50 text-gray-800;
}

.course-item {
    transition: all 0.2s ease-in-out;
}

.course-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Custom scrollbar para melhor aparência */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.rbc-allday-cell {
    display: none !important;
    min-height: unset;
}
.rbc-time-header-content .rbc-row .rbc-time-header-cell {
    border-bottom: none;
}
.rbc-time-view .rbc-row {
    min-height: unset;
}
.rbc-current-time-indicator {
    display: none;
}

.popup-message-error {
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: fadeInOut 5s ease-in-out forwards;
    background-color: #e84820;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
